<template>
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<div class="alert alert-success alert-dismissible fade show" role="alert" v-if="success">
				<strong>Поздравляем!</strong> Форма отправлена, скоро с вами свяжется менеджер
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form @submit.prevent="onSubmit">
				<div class="form-group form-row">
					<label for="first_name">Имя</label>
					<input type="text" v-model="form.first_name" class="form-control" id="first_name">
				</div>
				<div class="form-group form-row">
					<label for="last_name">Фамилия</label>
					<input type="text" v-model="form.last_name" class="form-control" id="last_name" required>
				</div>
				<div class="form-group form-row">
					<label for="birthday">Дата рождения</label>
					<input type="date" v-model="form.birthday" class="form-control" id="birthday" required>
				</div>
				<div class="form-group form-row">
					<label for="address">Адресс</label>
					<input type="text" v-model="form.address" class="form-control" id="address" required>
				</div>
				<div class="form-group form-row">
					<label for="cv">Cv</label>
					<input type="file" class="form-control" id="cv" @change="addFile($event)" required>
				</div>
				<strong v-if="errorFormat">{{ errorFormat }}</strong>
				<div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="Object.keys(errorsValidate).length">
					<ul>
						<li v-for="error in errorsValidate">{{ error[0] }}</li>
					</ul>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<button type="submit" class="btn btn-primary" :disabled="loading">Отправить</button>
			</form>
		</div>
	</div>
</template>

<script>
    export default {
        name: "CvForm",
        props: {
            source: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                form: {
                    first_name: '',
                    last_name: '',
                    birthday: '',
                    address: '',
                    cv: '',
                    extensionCv: ''
                },
                errorsValidate: {},
                loading: false,
                success: '',
                errorFormat: ''
            }
        },
        methods: {
            addFile(event) {
                let input = event.target;

                let fileTypes = ['jpg', 'jpeg', 'png', 'doc', 'docx', 'pdf'];
                let extension = input.files[0].name.split('.').pop().toLowerCase();
                let isSuccess = fileTypes.indexOf(extension) > -1;
                if (!isSuccess) {
                    this.errorFormat = 'Accept only format: ' + fileTypes;
                    this.loading = true;
                    document.getElementById('cv').value = '';
                }

                if (isSuccess) {
                    if (input.files && input.files[0]) {
                        let reader = new FileReader();
                        reader.onload = (e) => {
                            this.form.cv = e.target.result;
                            this.form.extensionCv = extension;
                            this.loading = false;
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            },
            onSubmit() {
                this.loading = true;
                axios.post(this.source, this.form).then((response) => {
                    this.success = response.data.message;

                    this.form.first_name = '';
                    this.form.last_name = '';
                    this.form.birthday = '';
                    this.form.address = '';
                    this.form.cv = '';
                    document.getElementById('cv').value = '';

                    this.loading = false;
                }).catch((error) => {
                    this.errorsValidate = error.response.data.errors;
                    this.$nextTick(() => {
                        this.loading = false;
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>
